.app-container {
    display: flex;
    flex-direction: column;

    /* background-color: blue; */
    min-height:100svh;
}

.page {
    /* background-color: red; */
    flex: 1;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.14);
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.14);
}